.main,  .bar, .buttons, .line, .footer {
    flex: 1;
    display: flex;
    flex-direction: column;
  
}

body {
    background-color: #1B1C23;
}

/* SVG иконки */
.Logo{
    width: 8vh;
    height: 6vh; 
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
    background-size: contain; /* Изображение вмещается в контейнер */
    background-position: center; /* Центрируем изображение */
    /* Само изображение в формате svg */
    background-image: url("data:image/svg+xml,%3Csvg width='74' height='54' viewBox='0 0 74 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.8598 45.8092C41.7773 52.565 31.1898 53.1827 31.1898 53.1827L14.8838 17.0381L16.968 0.444663C16.968 0.444663 35.9424 39.0534 38.8598 45.8092Z' fill='%233E44B8'/%3E%3Cpath d='M65.8091 46.5834C68.3025 52.4156 57.5497 53.0301 57.5497 53.0301L45.0403 25.2119L47.3731 7.35728C47.3731 7.35728 63.3156 40.7511 65.8091 46.5834Z' fill='%233A48AC'/%3E%3Cpath d='M5.72612 7.20717C6.72828 0.300349 16.9681 0.444669 16.9681 0.444669C16.9681 0.444669 11.3281 45.3188 10.8004 49.955C10.2728 54.5913 0.049022 54.2649 0.528755 49.5181C1.00849 44.7714 4.72396 14.114 5.72612 7.20717Z' fill='url(%23paint0_linear_134_677)'/%3E%3Cpath d='M41.9466 47.2699C40.9537 53.0324 31.1898 53.1827 31.1898 53.1827C31.1898 53.1827 36.7191 16.3042 37.2454 12.4341C37.7717 8.56406 47.4812 7.25166 47.4812 7.25166C47.4812 7.25166 42.9394 41.5074 41.9466 47.2699Z' fill='url(%23paint1_linear_134_677)'/%3E%3Cpath d='M68.9784 47.2361C67.979 52.9983 57.7808 53.1265 57.7808 53.1265C57.7808 53.1265 62.55 23.2315 63.2344 18.1819C63.9187 13.1323 73.3485 13.6169 72.6913 18.4502C72.0342 23.2835 69.9779 41.4739 68.9784 47.2361Z' fill='url(%23paint2_linear_134_677)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_134_677' x1='11.7411' y1='0.222335' x2='9.47773' y2='53.4336' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%236EC0F3'/%3E%3Cstop offset='1' stop-color='%23ED23AC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_134_677' x1='42.911' y1='7.01986' x2='40.5456' y2='53.6572' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2374B9EF'/%3E%3Cstop offset='1' stop-color='%23EB26AD'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_134_677' x1='68.6014' y1='14.6164' x2='66.6255' y2='53.5751' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E035B4'/%3E%3Cstop offset='0.885' stop-color='%2379B4ED'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.Ring {
    width: 5vh;
    height: 4vh; 
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
    background-size: contain; /* Изображение вмещается в контейнер */
    background-position: center; /* Центрируем изображение */
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.2359 24.0235C27.4805 21.875 26.2411 20.7813 26.2411 14.8579C26.2411 9.43359 23.4712 7.50107 21.1914 6.5625C20.8886 6.43809 20.6035 6.15234 20.5112 5.84131C20.1113 4.48027 18.9902 3.28125 17.5 3.28125C16.0098 3.28125 14.888 4.48096 14.4922 5.84268C14.3999 6.15713 14.1148 6.43809 13.812 6.5625C11.5295 7.50244 8.76231 9.42813 8.76231 14.8579C8.75889 20.7813 7.51953 21.875 5.76406 24.0235C5.03672 24.9136 5.67383 26.25 6.946 26.25H28.0608C29.3262 26.25 29.9592 24.9095 29.2359 24.0235Z' stroke='%23707175' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.875 26.25V27.3438C21.875 28.5041 21.4141 29.6169 20.5936 30.4373C19.7731 31.2578 18.6603 31.7188 17.5 31.7188C16.3397 31.7188 15.2269 31.2578 14.4064 30.4373C13.5859 29.6169 13.125 28.5041 13.125 27.3438V26.25' stroke='%23707175' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
}

.Settings {
    width: 5vh;
    height: 4vh; 
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
    background-size: contain; /* Изображение вмещается в контейнер */
    background-position: center; /* Центрируем изображение */
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='38' viewBox='0 0 37 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.964 0.289256C21.2428 8.49366e-08 20.3286 0 18.5 0C16.6714 0 15.7571 8.49366e-08 15.036 0.289256C14.0744 0.674937 13.3104 1.4147 12.9121 2.3458C12.7303 2.77085 12.6591 3.26515 12.6313 3.98618C12.5904 5.04579 12.0292 6.02659 11.0808 6.55677C10.1325 7.08692 8.97471 7.06713 8.00657 6.57164C7.34776 6.23447 6.87009 6.04698 6.39902 5.98694C5.36711 5.85538 4.3235 6.12615 3.49778 6.73968C2.87848 7.19982 2.42133 7.96651 1.50706 9.49987C0.592794 11.0332 0.135669 11.7999 0.0337824 12.5493C-0.102085 13.5485 0.177556 14.5591 0.811171 15.3586C1.10037 15.7236 1.50681 16.0303 2.13762 16.4141C3.06498 16.9784 3.66167 17.9396 3.66161 19C3.66155 20.0604 3.06488 21.0214 2.13762 21.5855C1.50671 21.9695 1.1002 22.2764 0.810976 22.6413C0.177362 23.4409 -0.10226 24.4513 0.0335878 25.4505C0.135474 26.1999 0.592618 26.9667 1.50687 28.5C2.42114 30.0333 2.87828 30.8001 3.49758 31.2601C4.32331 31.8736 5.36692 32.1444 6.39883 32.0129C6.86988 31.9529 7.34751 31.7653 8.00626 31.4283C8.97447 30.9328 10.1323 30.913 11.0807 31.4431C12.0292 31.9734 12.5904 32.9542 12.6313 34.014C12.6591 34.7348 12.7303 35.2292 12.9121 35.6543C13.3104 36.5853 14.0744 37.3251 15.036 37.7108C15.7571 38 16.6714 38 18.5 38C20.3286 38 21.2428 38 21.964 37.7108C22.9256 37.3251 23.6895 36.5853 24.0878 35.6543C24.2696 35.2292 24.3409 34.7349 24.3688 34.0138C24.4097 32.9542 24.9707 31.9734 25.9191 31.4431C26.8674 30.9128 28.0253 30.9328 28.9936 31.4283C29.6523 31.7653 30.1298 31.9527 30.6009 32.0127C31.6328 32.1444 32.6764 31.8736 33.5021 31.2601C34.1216 30.7999 34.5786 30.0333 35.4929 28.4998C36.4072 26.9665 36.8642 26.1999 36.9663 25.4505C37.102 24.4513 36.8224 23.4407 36.1889 22.6412C35.8995 22.2762 35.4931 21.9693 34.8621 21.5855C33.935 21.0214 33.3383 20.0602 33.3383 18.9998C33.3383 17.9394 33.935 16.9786 34.8621 16.4145C35.4933 16.0305 35.8997 15.7238 36.1891 15.3586C36.8226 14.5592 37.1022 13.5487 36.9665 12.5494C36.8644 11.8 36.4074 11.0334 35.4931 9.5C34.5788 7.96664 34.1217 7.19995 33.5023 6.73981C32.6766 6.12628 31.633 5.85552 30.6011 5.98707C30.13 6.04711 29.6524 6.23458 28.9938 6.57172C28.0255 7.06722 26.8676 7.08704 25.9193 6.55682C24.9709 6.02663 24.4097 5.04575 24.3686 3.98609C24.3407 3.26511 24.2696 2.77083 24.0878 2.3458C23.6895 1.4147 22.9256 0.674937 21.964 0.289256ZM18.5 24.7C21.7511 24.7 24.3865 22.1481 24.3865 19C24.3865 15.8519 21.7511 13.3 18.5 13.3C15.2488 13.3 12.6134 15.8519 12.6134 19C12.6134 22.1481 15.2488 24.7 18.5 24.7Z' fill='%23707175'/%3E%3C/svg%3E%0A");
}

.Language {
    width: 5vh;
    height: 4vh; 
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
    background-size: contain; /* Изображение вмещается в контейнер */
    background-position: center; /* Центрируем изображение */
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='36' viewBox='0 0 35 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.32715 18.2473C1.32715 27.2366 8.61444 34.5239 17.6038 34.5239C26.593 34.5239 33.8804 27.2366 33.8804 18.2473C33.8804 9.25799 26.593 1.9707 17.6038 1.9707C8.61444 1.9707 1.32715 9.25799 1.32715 18.2473Z' stroke='%23707175' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.5063 1.9707C19.5063 1.9707 24.1567 8.43288 24.1567 18.2472C24.1567 28.0616 19.5063 34.5239 19.5063 34.5239' stroke='%23707175' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.7012 34.5239C15.7012 34.5239 11.0508 28.0616 11.0508 18.2472C11.0508 8.43288 15.7012 1.9707 15.7012 1.9707' stroke='%23707175' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.17267 24.3774H33.0348' stroke='%23707175' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.17267 12.54H33.0348' stroke='%23707175' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
}

.CommunityDiscord {
    width: 3vh; /* Ширина объекта, учитывая 5% отступы и 3 элемента в строке */
    height: 3vh;
    margin: 3% 1% 3% 0; /* Отступы между объектами (5%) */
    display: inline-block; /* Элементы располагаются в строку */
    vertical-align: top; /* Выравнивание по верхнему краю */
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
    background-size: contain; /* Изображение вмещается в контейнер */
    background-position: center; /* Центрируем изображение */
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_141_2829)'%3E%3Cpath d='M19.5 39C30.2696 39 39 30.2696 39 19.5C39 8.73045 30.2696 0 19.5 0C8.73045 0 0 8.73045 0 19.5C0 30.2696 8.73045 39 19.5 39Z' fill='%23707175'/%3E%3Cpath d='M26.2576 13.2916C24.9933 12.7113 23.659 12.2975 22.2882 12.0606C22.2758 12.0583 22.2629 12.0599 22.2514 12.0653C22.2399 12.0707 22.2304 12.0796 22.2243 12.0907C22.0422 12.4206 21.877 12.7595 21.7291 13.1061C20.2516 12.8817 18.7487 12.8817 17.2712 13.1061C17.1227 12.7587 16.9551 12.4197 16.7692 12.0907C16.7628 12.0798 16.7533 12.0711 16.7419 12.0658C16.7305 12.0604 16.7177 12.0586 16.7052 12.0606C15.3348 12.2971 14.0011 12.7109 12.7374 13.2916C12.7265 13.2961 12.7174 13.304 12.7112 13.314C10.1834 17.091 9.49099 20.7751 9.83071 24.4127C9.83168 24.4216 9.83444 24.4303 9.83883 24.4381C9.84321 24.446 9.84913 24.4529 9.85623 24.4584C11.3282 25.5487 12.9747 26.3811 14.7255 26.9199C14.7379 26.9236 14.7511 26.9234 14.7633 26.9194C14.7756 26.9153 14.7863 26.9077 14.7941 26.8974C15.17 26.3856 15.5031 25.8437 15.79 25.2772C15.7939 25.2694 15.7962 25.2609 15.7966 25.2522C15.7969 25.2435 15.7955 25.2349 15.7923 25.2268C15.7891 25.2187 15.7842 25.2113 15.778 25.2053C15.7717 25.1992 15.7643 25.1945 15.7561 25.1915C15.2308 24.9909 14.7221 24.7489 14.235 24.4679C14.2261 24.4627 14.2187 24.4554 14.2134 24.4466C14.208 24.4379 14.2049 24.428 14.2043 24.4177C14.2037 24.4075 14.2056 24.3972 14.2099 24.3879C14.2142 24.3786 14.2207 24.3705 14.2289 24.3643C14.3309 24.2881 14.4334 24.2081 14.5309 24.1274C14.5396 24.1203 14.55 24.1157 14.5611 24.1143C14.5722 24.1128 14.5835 24.1144 14.5937 24.119C17.785 25.5762 21.2401 25.5762 24.3936 24.119C24.4039 24.1141 24.4154 24.1122 24.4267 24.1135C24.4381 24.1149 24.4488 24.1194 24.4576 24.1266C24.5551 24.207 24.6576 24.2877 24.7623 24.3643C24.7705 24.3704 24.7771 24.3785 24.7814 24.3878C24.7858 24.3971 24.7878 24.4073 24.7873 24.4175C24.7867 24.4278 24.7837 24.4377 24.7784 24.4465C24.7731 24.4553 24.7658 24.4626 24.757 24.4679C24.2705 24.7516 23.7608 24.9937 23.2335 25.1915C23.2253 25.1946 23.2178 25.1994 23.2116 25.2056C23.2054 25.2118 23.2006 25.2193 23.1974 25.2275C23.1943 25.2357 23.1929 25.2445 23.1935 25.2532C23.194 25.262 23.1963 25.2706 23.2004 25.2784C23.4921 25.8418 23.8247 26.383 24.1956 26.8978C24.2031 26.9084 24.2138 26.9163 24.2261 26.9205C24.2384 26.9247 24.2517 26.9248 24.2641 26.921C26.0173 26.3838 27.666 25.5514 29.1391 24.4595C29.1464 24.4543 29.1524 24.4476 29.1568 24.4398C29.1612 24.4321 29.1639 24.4234 29.1647 24.4146C29.5714 20.2084 28.4837 16.5544 26.2816 13.3156C26.2766 13.305 26.2681 13.2965 26.2576 13.2916ZM16.2661 22.198C15.3052 22.198 14.5141 21.3159 14.5141 20.2327C14.5141 19.1496 15.2903 18.2675 16.2661 18.2675C17.2499 18.2675 18.034 19.1572 18.018 20.2327C18.0188 21.3159 17.2422 22.198 16.2661 22.198ZM22.7457 22.198C21.7847 22.198 20.9937 21.3159 20.9937 20.2327C20.9937 19.1496 21.7699 18.2675 22.7457 18.2675C23.7294 18.2675 24.5136 19.1572 24.4976 20.2327C24.498 21.3159 23.7294 22.198 22.7457 22.198Z' fill='%231B1C23'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_141_2829'%3E%3Crect width='39' height='39' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
}


.CommunityTelegram {
    width: 3vh; /* Ширина объекта, учитывая 5% отступы и 3 элемента в строке */
    height: 3vh;
    margin: 3% 1% 3% 0; /* Отступы между объектами (5%) */
    display: inline-block; /* Элементы располагаются в строку */
    vertical-align: top; /* Выравнивание по верхнему краю */
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
    background-size: contain; /* Изображение вмещается в контейнер */
    background-position: center; /* Центрируем изображение */
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='39' viewBox='0 0 38 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 0C15.2423 0 11.5687 1.14365 8.44417 3.28633C5.31964 5.42901 2.88437 8.4745 1.4463 12.0377C0.00824013 15.6007 -0.368032 19.5217 0.365083 23.3042C1.0982 27.0869 2.90778 30.5613 5.56498 33.2887C8.22218 36.0157 11.6076 37.8729 15.2933 38.6253C18.9789 39.3778 22.7993 38.9914 26.2711 37.5155C29.7428 36.0396 32.7102 33.5405 34.798 30.3337C36.8857 27.1269 38 23.3568 38 19.5C38 14.3283 35.9981 9.36838 32.4351 5.71142C28.8719 2.05445 24.039 0 19 0ZM28.3338 13.3575L25.2225 28.4456C24.985 29.5181 24.3675 29.7618 23.4888 29.2743L18.7388 25.6668L16.3638 27.9337C16.2519 28.0836 16.1082 28.2055 15.9436 28.2901C15.779 28.3744 15.5978 28.4193 15.4137 28.4212L15.7463 23.5462L24.5338 15.3806C24.9375 15.0394 24.5338 14.8444 23.9638 15.1856L13.1813 22.1325L8.43125 20.6212C7.41 20.3044 7.38625 19.5731 8.645 19.0856L26.9563 11.7731C27.8588 11.505 28.6188 12.0412 28.3338 13.3575Z' fill='%23707175'/%3E%3C/svg%3E ");
}


.CommunityVK {
    width: 3vh; /* Ширина объекта, учитывая 5% отступы и 3 элемента в строке */
    height: 3vh;
    margin: 3% 1% 3% 0; /* Отступы между объектами (5%) */
    display: inline-block; /* Элементы располагаются в строку */
    vertical-align: top; /* Выравнивание по верхнему краю */
    background-repeat: no-repeat; /* Запрещаем повтор изображения */
    background-size: contain; /* Изображение вмещается в контейнер */
    background-position: center; /* Центрируем изображение */
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 0C8.73031 0 0 8.73031 0 19.5C0 30.2697 8.73031 39 19.5 39C30.2697 39 39 30.2697 39 19.5C39 8.73031 30.2697 0 19.5 0ZM26.9994 22.0005C26.9994 22.0005 28.7239 23.7027 29.1484 24.4928C29.1606 24.5091 29.1667 24.5253 29.1708 24.5334C29.3434 24.8239 29.3841 25.0494 29.2987 25.218C29.1566 25.4983 28.6691 25.6364 28.5025 25.6486H25.4556C25.2444 25.6486 24.8016 25.5938 24.2653 25.2241C23.853 24.9356 23.4467 24.4623 23.0506 24.0012C22.4595 23.3147 21.9477 22.7216 21.4317 22.7216C21.3662 22.7215 21.3011 22.7317 21.2388 22.752C20.8488 22.878 20.3491 23.4345 20.3491 24.9173C20.3491 25.3805 19.9834 25.6466 19.7255 25.6466H18.33C17.8547 25.6466 15.3786 25.48 13.1848 23.1664C10.4995 20.3328 8.08234 14.6494 8.06203 14.5966C7.90969 14.2289 8.22453 14.0319 8.56781 14.0319H11.6452C12.0555 14.0319 12.1895 14.2817 12.283 14.5031C12.3927 14.7611 12.7948 15.7869 13.455 16.9406C14.5255 18.8216 15.1816 19.5853 15.7077 19.5853C15.8063 19.5842 15.9032 19.5591 15.99 19.5122C16.6766 19.1303 16.5486 16.6827 16.5181 16.1748C16.5181 16.0794 16.5161 15.08 16.1647 14.6006C15.9128 14.2533 15.4842 14.1213 15.2242 14.0725C15.3295 13.9273 15.4681 13.8095 15.6284 13.7292C16.0997 13.4936 16.9488 13.4591 17.7917 13.4591H18.2609C19.175 13.4712 19.4106 13.5302 19.7417 13.6134C20.412 13.7739 20.4263 14.2066 20.3673 15.6873C20.3491 16.1078 20.3308 16.5831 20.3308 17.1438C20.3308 17.2656 20.3247 17.3956 20.3247 17.5338C20.3044 18.2873 20.28 19.1425 20.8122 19.4939C20.8816 19.5374 20.9618 19.5607 21.0438 19.5609C21.2286 19.5609 21.7852 19.5609 23.2923 16.9752C23.7572 16.1429 24.1611 15.278 24.5009 14.3873C24.5314 14.3345 24.6208 14.172 24.7264 14.1091C24.8044 14.0693 24.8908 14.0491 24.9783 14.0502H28.5959C28.99 14.0502 29.2602 14.1091 29.3109 14.2614C29.4003 14.5031 29.2947 15.2405 27.6433 17.4769L26.9059 18.4498C25.4089 20.412 25.4089 20.5116 26.9994 22.0005Z' fill='%23707175'/%3E%3C/svg%3E ");
}


.CommunityGMail {
    width: 3vh; /* Ширина объекта, учитывая 5% отступы и 3 элемента в строке */
    height: 3vh;
    margin: 3% 1% 3% 0; /* Отступы между объектами (5%) */
    display: inline-block; /* Элементы располагаются в строку */
    vertical-align: top; /* Выравнивание по верхнему краю */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='26' viewBox='0 0 33 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33 3.54503V23.6351C33 24.9401 31.9932 25.9988 30.7509 25.9988H25.4991V12.6059L16.4995 19.6982L7.49985 12.6059V26H2.24907C1.0068 26 0 24.9424 0 23.6374V23.6363V3.54619C0 1.58816 1.51075 0 3.37471 0C4.13834 0 4.84255 0.267004 5.40812 0.71548L5.39932 0.708544L16.4995 9.45497L27.5996 0.708544C28.1563 0.265849 28.8606 0 29.6242 0C31.4881 0 33 1.587 33 3.54503Z' fill='%23707175'/%3E%3C/svg%3E ");
}

/* --х--SVG иконки--х-- */


/* СТИЛИ КНОПОК*/
/* Кнопки основыные */
.ButtonRGB {
    background-color: #AF71CF;
    color: #1B1C23;
    border: none;
    margin: 0 0 0 1%;
    text-decoration: none;
    padding: 1vh 2vh; /* Можно настроить под свой контент */
    text-transform: uppercase;
    border-radius: 1vh; /* Регулируйте для получения желаемых закруглений */
    cursor: pointer;
    font-size: 2vh;
    font-weight: bold;
    background-size: 130% 130%;
    background-position: center;
    margin: 0 0 0 1%;
  }
  
.ButtonRGB:hover {
  transition: color 0.3s, background-image 0.3s; /* Добавляем плавное изменение цвета фона и текста при наведении */
  background-image: linear-gradient(135deg, #6EC0F3, #ED23AC);
  color: #EAE1E1;
  background-position: right;
}

.ButtonWB {
    background-color: transparent;
    color: #51565B;
    border: 0.2vh solid #51565B;
    padding: 1vh 2vh; /* Можно настроить под свой контент */
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1vh; /* Регулируйте для получения желаемого закругления */
    cursor: pointer;
    font-size: 2vh;
    margin: 0 0 0 1%;
    text-decoration: none;
    transition: color 0.3s, border-color 0.3s;
}

.ButtonWB:hover {
    color: #EAE1E1;
    border-color: #EAE1E1;
}
/* --х--Кнопки основыные --х-- */

/* Анимация страничных кнопок */
.animation {
    border: none;
    background: none;
    color: #67686C;
    text-decoration: none;
    position: relative;
    font-size: 3vh;
    margin: 0 3% 0 0;
}

.animation::after {
  content: "";
  position: absolute;
  width: 60%; /* разделительная полоса будет занимать 60% от ширины текста */
  height: 4px; /* изменяем высоту полосы */
  background-color: #AF71CF;
  bottom: -2px; /* сдвигаем полосу немного вниз, чтобы она находилась под текстом */
  left: 20%; /* задаем горизонтальное положение полосы (40% отступа с каждой стороны)*/
  border-radius: 2px; /* добавляем скругленные края */
  transform: scaleX(0);
  transition: transform 0.3s;

}

.animation:hover {
  color: #EAE1E1;
}

.animation:hover::after {
  transform: scaleX(1);
}
/* --х--Анимация страничных кнопок--х-- */

.buttons {
    left: 0;
    margin: 5% 0 0 0;
    flex-direction: row;
    height: 4.5vh;
}

/* Стили кнопок Data и Market */
.Market {
    margin-bottom: 2vh;
    height: 5vh;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
}

.Data {
    margin-bottom: 2vh;
    width: 20vh;
    height: 5vh;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
}
/* --х--Стили кнопок Data и Market--х-- */

/* footer */
.line {
    width: 80%; /* Устанавливаем ширину линии */
    margin: 0 auto; /* Центрируем линию на странице */
    background-color: #FFFFFF; /* Устанавливаем белую линию */
    border-radius: 10%; /* Добавляем закругление краёв */
    margin-top: 5%; /* Даем отступ сверху */
    margin-bottom: 1%;
}
.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    bottom: 0;
    margin-bottom: 5%;
}

.footer_section {
    width: 20%; /* каждая колонна будет занимать примерно 30% ширины */
    margin-left: 10%; /* для расстояния между колоннами */
}
/* --х--footer--х-- */

/* Блок валют */
/*.valets{
  margin: 0 auto 0 auto;
  height: 45vh;
  width: 25%;
  border: 2px solid #51565B; 
  padding: 10px;
  border-radius: 10px; 
}

.ValetButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.ValetList{
    margin-top: 5%;
}*/
/* --х--Блок валют--х-- */

/* body */
.Body{
    margin: 0 15% 0 15%;
}

.body {
    flex-wrap: wrap;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 3% 0 0 0;
}
/* --х--body--х-- */

/* header */
.header{
    margin-left: 1%;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    background-color: #1B1C23;
}
.bar {
    align-items: center;
    flex-direction: row-reverse;
}

.header_h1 {
 margin-top: 1%;
 font-size: 6vh;
 background-image: linear-gradient(to bottom, #6EC0F3, #ED23AC);
 -webkit-background-clip: text;
 background-clip: text;
 color: transparent;
}

.header_logo {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 0;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.bar {
    
    right: 0;
    padding: 10px;
}
/* --х--header--х-- */

/* TextStyles */
h2{
    margin: 0 0 0 0;
    color: #EAE1E1;
}

h3{
    margin: 0 0 0 0;
    color: #EAE1E1;
}

p{
    color: #EAE1E1;
    margin: 2vh 0 0 0;
}
/* --х--TextStyles--х-- */

.table {
    width: 100%;
    padding: 50%;
}

th{
    color: #9a9a9aa8;
    font-size: 2vh;
    padding-right: 15vh;
} 

td {
    color: white;
    font-size: 2vh;
    padding-right: 15vh;
}

tbody tr {
    line-height: 450%;
}

table{
    margin: 0 auto 0 20%;
    
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
